<h1, align=center> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;数据科学引论 - Python之道 </h1>

<h1, align=center> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第4课 数据清洗 </h1>

<hr>

<h1, align="center">按国家和年份统计的CO2排放量</h1>

二氧化碳排放源自燃烧化石燃料和水泥制造，包含了在固体、液体和气体燃料消耗以及放空燃烧过程中所产生的二氧化碳

http://data.worldbank.org/indicator/EN.ATM.CO2E.PC/

<h2, align=center>获取数据</h2>

这些数据可以从世界银行(World Bank) [链接](http://data.worldbank.org/indicator/EN.ATM.CO2E.PC/) 或者从 Box [链接](https://ibm.box.com/shared/static/3yzxbbizo49bkl8cnjw15tymzfwkycj4.csv) 上下载

#### 我们在linux下可以使用bash命令 `wget` 从链接处获取 csv 文件

In [ ]:
!wget --output-document /resources/data/co2emissions.csv https://ibm.box.com/shared/static/3yzxbbizo49bkl8cnjw15tymzfwkycj4.csv

<hr>

<h2, align=center>使用 Pandas 导入数据</h2>

#### 导入所需的 `pandas` 库

In [1]:
import pandas as pd

#### 使用 `pd.read_csv` 导入数据

In [2]:
data = pd.read_csv("./data/co2emissions.csv", skiprows = 4)

#### 使用 `head` 显示 `data`  的前5行

In [3]:
data

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
0,Aruba,ABW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,25.613715,24.750133,24.876706,24.182702,23.922412,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,6.350868,6.296125,6.049173,6.124770,5.968685,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.046068,0.053615,0.073781,0.074251,0.086317,0.101499,...,0.088141,0.158962,0.249074,0.302936,0.425262,NaN,NaN,NaN,NaN,NaN
3,Angola,AGO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.104357,0.084718,0.216025,0.206877,0.216174,0.206089,...,1.311096,1.369425,1.430873,1.401654,1.354008,NaN,NaN,NaN,NaN,NaN
4,Albania,ALB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.258195,1.374186,1.439956,1.181681,1.111742,1.166099,...,1.507536,1.580113,1.533178,1.515632,1.607038,NaN,NaN,NaN,NaN,NaN
5,Arab World,ARB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.643964,0.685501,0.761148,0.875124,0.999248,1.166075,...,4.181153,4.373573,4.575251,4.764912,4.724500,NaN,NaN,NaN,NaN,NaN
6,United Arab Emirates,ARE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.118786,0.108937,0.163355,0.175712,0.132651,0.146370,...,23.195067,23.033600,21.102296,20.120957,20.433838,NaN,NaN,NaN,NaN,NaN
7,Argentina,ARG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2.367473,2.442616,2.522392,2.316356,2.538380,2.641714,...,4.496834,4.744178,4.427960,4.342272,4.562049,NaN,NaN,NaN,NaN,NaN
8,Armenia,ARM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,1.694755,1.868611,1.469961,1.422998,1.671657,NaN,NaN,NaN,NaN,NaN
9,American Samoa,ASM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Antigua and Barbuda,ATG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.670617,0.860441,1.823374,1.470175,1.567094,2.520359,...,5.561525,5.628319,5.906292,6.011269,5.823804,NaN,NaN,NaN,NaN,NaN
11,Australia,AUS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,8.582937,8.641569,8.835688,9.226440,9.759073,10.622321,...,17.467002,17.704080,17.631833,16.710904,16.519210,NaN,NaN,NaN,NaN,NaN
12,Austria,AUT,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,4.373319,4.496362,4.755362,5.155194,5.391004,5.252197,...,8.405093,8.262046,7.608851,8.127693,7.769983,NaN,NaN,NaN,NaN,NaN
13,Azerbaijan,AZE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,3.555340,4.051383,3.565668,3.388226,3.647379,NaN,NaN,NaN,NaN,NaN
14,Burundi,BDI,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,0.015203,0.016155,0.015827,0.011910,...,0.021964,0.021615,0.020868,0.020542,0.021350,NaN,NaN,NaN,NaN,NaN
15,Belgium,BEL,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,9.941594,10.103872,10.641190,11.386929,11.053655,11.141656,...,9.713718,9.699599,9.634776,9.989976,8.849398,NaN,NaN,NaN,NaN,NaN
16,Benin,BEN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.066354,0.052046,0.054202,0.047580,0.055295,0.057115,...,0.516299,0.500183,0.514278,0.541771,0.509962,NaN,NaN,NaN,NaN,NaN
17,Burkina Faso,BFA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.009112,0.018730,0.017003,0.017504,0.021575,0.019841,...,0.115429,0.115427,0.109774,0.107673,0.119981,NaN,NaN,NaN,NaN,NaN
18,Bangladesh,BGD,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,0.319840,0.334440,0.352155,0.370360,0.372017,NaN,NaN,NaN,NaN,NaN
19,Bulgaria,BGR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2.833901,3.269920,3.835892,4.259781,5.262988,5.645652,...,6.916687,6.778939,5.729716,5.966884,6.714383,NaN,NaN,NaN,NaN,NaN
20,Bahrain,BHR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.542864,10.547396,9.193609,6.714156,8.747480,6.557022,...,21.443296,21.519995,18.136234,18.435025,17.947330,NaN,NaN,NaN,NaN,NaN
21,"Bahamas, The",BHS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.749831,4.746699,5.996432,5.558199,8.118597,9.399946,...,4.521354,2.998089,4.630520,6.829321,5.199844,NaN,NaN,NaN,NaN,NaN
22,Bosnia and Herzegovina,BIH,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,4.580387,5.231547,5.371890,5.513994,6.196652,NaN,NaN,NaN,NaN,NaN
23,Belarus,BLR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,6.305629,6.592749,6.341939,6.556550,6.682510,NaN,NaN,NaN,NaN,NaN
24,Belize,BLZ,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.477951,0.387219,0.715409,0.622357,0.818289,0.794763,...,1.536094,1.473196,1.495185,1.721709,1.670904,NaN,NaN,NaN,NaN,NaN
25,Bermuda,BMU,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.551374,3.868484,3.383712,3.151929,4.124438,3.586487,...,7.968299,5.955020,7.095329,7.320036,6.077210,NaN,NaN,NaN,NaN,NaN
26,Bolivia,BOL,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.272038,0.276621,0.286626,0.310159,0.371216,0.371151,...,1.318204,1.412189,1.459841,1.547659,1.599499,NaN,NaN,NaN,NaN,NaN
27,Brazil,BRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.647068,0.658625,0.697281,0.700749,0.694001,0.670372,...,1.884034,1.990429,1.866522,2.113415,2.191394,NaN,NaN,NaN,NaN,NaN
28,Barbados,BRB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.746313,0.838899,1.119411,0.816330,0.766085,0.872454,...,5.178741,5.871114,5.833678,5.430338,5.580178,NaN,NaN,NaN,NaN,NaN
29,Brunei Darussalam,BRN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,4.078179,3.552009,4.133422,3.798174,3.482289,3.254787,...,24.178409,26.338271,22.149029,21.873222,24.392013,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,Thailand,THA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.135586,0.146944,0.173130,0.185877,0.242240,0.234151,...,3.994687,3.984060,4.198512,4.470426,4.534492,NaN,NaN,NaN,NaN,NaN
220,Tajikistan,TJK,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,0.463345,0.409462,0.382775,0.373873,0.358948,NaN,NaN,NaN,NaN,NaN
221,Turkmenistan,TKM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,11.535622,11.557572,10.110661,11.358111,12.183667,NaN,NaN,NaN,NaN,NaN
222,Timor-Leste,TLS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,0.180962,0.185017,0.174891,0.171932,0.163648,NaN,NaN,NaN,NaN,NaN
223,Tonga,TON,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.178588,0.172592,0.166040,0.159435,0.153309,0.147936,...,1.112637,1.176967,1.276514,1.128883,0.983562,NaN,NaN,NaN,NaN,NaN
224,Trinidad and Tobago,TTO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.042576,5.318141,8.225570,1.466683,4.201774,5.694904,...,36.816763,35.455298,36.569448,38.337841,37.140054,NaN,NaN,NaN,NaN,NaN
225,Tunisia,TUN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.409211,0.413220,0.412987,0.438885,0.608626,0.532230,...,2.357974,2.403508,2.374157,2.535619,2.402456,NaN,NaN,NaN,NaN,NaN
226,Turkey,TUR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.610473,0.615079,0.748241,0.765934,0.869390,0.883506,...,4.094889,4.055397,3.898959,4.121155,4.383105,NaN,NaN,NaN,NaN,NaN
227,Tuvalu,TUV,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228,"Taiwan, China",TWN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229,Tanzania,TZA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.082261,0.067872,0.071734,0.072968,0.091197,0.099494,...,0.144041,0.147982,0.139973,0.150059,0.154935,NaN,NaN,NaN,NaN,NaN
230,Uganda,UGA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.062123,0.058093,0.059258,0.057791,0.063435,0.078242,...,0.104293,0.101919,0.105320,0.108297,0.110887,NaN,NaN,NaN,NaN,NaN
231,Ukraine,UKR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,6.910708,6.724046,5.647014,6.638152,6.262352,NaN,NaN,NaN,NaN,NaN
232,Upper middle income,UMC,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.288256,1.057435,0.957318,0.955719,0.982914,1.036033,...,4.689606,4.838241,5.074839,5.359268,5.710659,NaN,NaN,NaN,NaN,NaN
233,Uruguay,URY,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.701583,1.602723,1.540657,1.639285,1.710101,2.049519,...,1.796306,2.471054,2.401221,1.912605,2.296201,NaN,NaN,NaN,NaN,NaN
234,United States,USA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,15.999779,15.681256,16.013937,16.482762,16.968119,17.451725,...,19.237460,18.489234,17.192379,17.484792,17.020216,NaN,NaN,NaN,NaN,NaN
235,Uzbekistan,UZB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,4.391447,4.434466,3.912053,3.693268,3.914921,NaN,NaN,NaN,NaN,NaN
236,St. Vincent and the Grenadines,VCT,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.135902,0.133923,0.132214,0.174273,0.215513,0.170614,...,2.084879,2.116255,2.114512,2.146877,2.179923,NaN,NaN,NaN,NaN,NaN
237,"Venezuela, RB",VEN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,7.005107,6.136886,6.155057,6.155748,5.973226,6.187252,...,5.868518,6.604892,6.525293,6.811756,6.416334,NaN,NaN,NaN,NaN,NaN
238,Virgin Islands (U.S.),VIR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239,Vietnam,VNM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.215631,0.225435,0.258760,0.247579,0.314058,0.343354,...,1.352791,1.497496,1.636371,1.761695,1.971889,NaN,NaN,NaN,NaN,NaN
240,Vanuatu,VUT,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,0.594888,0.471728,0.864247,0.641714,...,0.433459,0.406839,0.508463,0.496591,0.591266,NaN,NaN,NaN,NaN,NaN
241,West Bank and Gaza,PSE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,0.665297,0.570947,0.564578,0.534015,0.572407,NaN,NaN,NaN,NaN,NaN
242,World,WLD,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.096144,3.067062,3.138020,3.242364,3.358696,3.437595,...,4.686122,4.741826,4.663120,4.840436,4.944676,NaN,NaN,NaN,NaN,NaN
243,Samoa,WSM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.135009,0.163529,0.158352,0.184019,0.208092,0.230869,...,1.026224,1.039490,1.072106,1.103871,1.252110,NaN,NaN,NaN,NaN,NaN
244,"Yemen, Rep.",YEM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.703403,0.507631,0.728004,0.537606,0.658012,0.699574,...,0.981422,0.989905,1.026251,1.090060,0.919968,NaN,NaN,NaN,NaN,NaN
245,South Africa,ZAF,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,5.629718,5.694383,5.729712,5.799844,6.170936,6.467359,...,9.063326,9.506481,9.545495,8.957154,9.257216,NaN,NaN,NaN,NaN,NaN
246,"Congo, Dem. Rep.",COD,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.152228,0.150782,0.135559,0.139446,0.116926,0.142290,...,0.047312,0.048411,0.045604,0.049328,0.050303,NaN,NaN,NaN,NaN,NaN
247,Zambia,ZMB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,0.950434,1.100197,...,0.150265,0.164692,0.184058,0.192079,0.212450,NaN,NaN,NaN,NaN,NaN
248,Zimbabwe,ZWE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,1.045374,1.179176,...,0.731867,0.569255,0.600521,0.646073,0.691698,NaN,NaN,NaN,NaN,NaN

<h1, align=center>数据清洗</h1>

#### 观察这些数据，其质量有什么问题？我们应该如何解决这些问题？

例如，下面这些行有什么问题？

In [4]:
data.loc[[9,190,220,257]]

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
9,American Samoa,ASM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,Russian Federation,RUS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,11.677438,12.019131,11.026116,12.198437,12.647328,NaN,NaN,NaN,NaN,NaN
220,Tajikistan,TJK,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,0.463345,0.409462,0.382775,0.373873,0.358948,NaN,NaN,NaN,NaN,NaN
257,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 数据质量的问题:
1. 有些行是多个国家的总和，而不是实际的国家(例如, "World").
2. 有些列是不相关的，可以被移除(例如, "Indicator Name").
3. 有些年份对于任何国家都没有数据(例如, 2015 到 2016).
4. 有些国家在任何年份都没有数据(例如, "American Samoa").

<br>

<h2> 1. 有些行是多个国家的总和，而不是实际的国家 (例如, "World"). </h2>

**目标:**  
移除不包含实际国家的行。幸运的是，世界银行(World Bank)提供了相应的元数据，表明了哪些行是国家，而哪些行是多个国家的总和。
- 导入countries_metadata.csv
- 在`Country Code`上将元数据与`data`合并

#### 获取 `countries_metadata.csv`

In [5]:
!wget --output-document ./data/countries_metadata.csv https://ibm.box.com/shared/static/qh3o86mpij17ot7anydcmbwt41lwxvln.csv

--2017-11-02 21:23:20--  https://ibm.box.com/shared/static/qh3o86mpij17ot7anydcmbwt41lwxvln.csv
正在解析主机 ibm.box.com (ibm.box.com)... 107.152.24.197
正在连接 ibm.box.com (ibm.box.com)|107.152.24.197|:443... 已连接。
已发出 HTTP 请求，正在等待回应... 301 Moved Permanently
位置：https://ibm.ent.box.com/shared/static/qh3o86mpij17ot7anydcmbwt41lwxvln.csv [跟随至新的 URL]
--2017-11-02 21:23:25--  https://ibm.ent.box.com/shared/static/qh3o86mpij17ot7anydcmbwt41lwxvln.csv
正在解析主机 ibm.ent.box.com (ibm.ent.box.com)... 107.152.24.211
正在连接 ibm.ent.box.com (ibm.ent.box.com)|107.152.24.211|:443... 已连接。
已发出 HTTP 请求，正在等待回应... 302 Found
位置：https://public.boxcloud.com/d/1/SrW-8oFbXJPcehrTqRslNPRXZxlF0Q6Ef3pH6YrsL79lr8YLVzjA7c_z_zUSoamqO4KkDBy-L1JpfWDCgRIZ2hI0YceVan4luXgHZ5pq_sICAuFdKknzaLupkQL5FDy6IL58xDyljTkn_KqZiJC94ZCoBt2xdnhqrAJH83udvc2Z3tEOG-iAoe4duuHk4rfISp1tFn1lRuW2-T1bFnUrLUYCpgq-WtWIX9XK6kbEYUWvro7p5ZHopV_f545nVvUwMCqdXNiqen_TBEVKsJwi9NinzBmjdV7feDkpteBP3T9G6CdHg8eLLwW6u326OQKDnSWr-6XgCZDJ0Kw-sejIeUcuQwxYR7MxPUKYyxkNqecxoA4r8vS4jcUH7zCZYinnXpZfiU2KZb4VnO6aI9hUP6eDSiptr17k2V4n1Sbs2rJ9UXnEnjpC_KAChEBa3I9JsONVmL5NYv1P-Qs4pClQ6qffhdOKD897FxdjjLedmeaxC_G99TZiDWbGnXwJd0CLtZRsiTasTPdfWzoWUgtQf1ApIEaT2Ojq6HVEAJkpkK0aR1xa2xjOoaZifH3vl_a-GGob6dtSfXp0TLRcTWf1N55iBIplu_NV4bg3OpM0TQF6z3Ef5RsG0NEeH6-smDuwwcacuby1DdPcPOYy_koBpFsmSEO8ymXtxZZvZV9OPjG6ygC3YE_RaPRflmiZ26Nb-Dlo6l8Rw40czbnM75b03CGOqn6L2etkjeV9CLm2l-M96S7p-tl89448dQl1hZkD6z2UYdVByqcHtLoP5A2RQmIRs3R_zm44Grqi0qkFmEZEywPqs9G_B6UWOAKff6DwxSshhNjlLdsGqjcgb-QuiRcCTyJ_0PUt0d_WrVv2CpjdncqS5_JNJhNYRK5NKGbserMMLsdjeknB1EcmuJ8QjSV7ii0YZGYZLHCUnSZ9aj66Y7L4IxzKzP2VcVEZcYYANzioJHQFbFjng_z8hoVWpMpkVVNNkl0i2WECrK0ZsFuH8UMAjQAehpAojm_Yy9gHWYrczcQvn6gj3-d-xD4y2V5-OhNwoD2fJzOXVZoPct5Db4jqnySYm8Jvp2sM315BXk3PcmGbff6akM15Dt2vTcGiKkQfuiXKdtqtwhyENdjdO10NOV6KF3i6y72YgO_2Pt4G5ZmDozMklVyRTD3XmAIi29sq9djDB2z7Jv-VTAcgUQwnu4WpefdpEQZN-9lqFi80oD1lJL3J1jBJpUkIBaQv9-joweREjK7snrgjlr8tmCu11PRh32zk_I8BB4jpdYAetUdbyzdlI6ZX/download [跟随至新的 URL]
--2017-11-02 21:23:32--  https://public.boxcloud.com/d/1/SrW-8oFbXJPcehrTqRslNPRXZxlF0Q6Ef3pH6YrsL79lr8YLVzjA7c_z_zUSoamqO4KkDBy-L1JpfWDCgRIZ2hI0YceVan4luXgHZ5pq_sICAuFdKknzaLupkQL5FDy6IL58xDyljTkn_KqZiJC94ZCoBt2xdnhqrAJH83udvc2Z3tEOG-iAoe4duuHk4rfISp1tFn1lRuW2-T1bFnUrLUYCpgq-WtWIX9XK6kbEYUWvro7p5ZHopV_f545nVvUwMCqdXNiqen_TBEVKsJwi9NinzBmjdV7feDkpteBP3T9G6CdHg8eLLwW6u326OQKDnSWr-6XgCZDJ0Kw-sejIeUcuQwxYR7MxPUKYyxkNqecxoA4r8vS4jcUH7zCZYinnXpZfiU2KZb4VnO6aI9hUP6eDSiptr17k2V4n1Sbs2rJ9UXnEnjpC_KAChEBa3I9JsONVmL5NYv1P-Qs4pClQ6qffhdOKD897FxdjjLedmeaxC_G99TZiDWbGnXwJd0CLtZRsiTasTPdfWzoWUgtQf1ApIEaT2Ojq6HVEAJkpkK0aR1xa2xjOoaZifH3vl_a-GGob6dtSfXp0TLRcTWf1N55iBIplu_NV4bg3OpM0TQF6z3Ef5RsG0NEeH6-smDuwwcacuby1DdPcPOYy_koBpFsmSEO8ymXtxZZvZV9OPjG6ygC3YE_RaPRflmiZ26Nb-Dlo6l8Rw40czbnM75b03CGOqn6L2etkjeV9CLm2l-M96S7p-tl89448dQl1hZkD6z2UYdVByqcHtLoP5A2RQmIRs3R_zm44Grqi0qkFmEZEywPqs9G_B6UWOAKff6DwxSshhNjlLdsGqjcgb-QuiRcCTyJ_0PUt0d_WrVv2CpjdncqS5_JNJhNYRK5NKGbserMMLsdjeknB1EcmuJ8QjSV7ii0YZGYZLHCUnSZ9aj66Y7L4IxzKzP2VcVEZcYYANzioJHQFbFjng_z8hoVWpMpkVVNNkl0i2WECrK0ZsFuH8UMAjQAehpAojm_Yy9gHWYrczcQvn6gj3-d-xD4y2V5-OhNwoD2fJzOXVZoPct5Db4jqnySYm8Jvp2sM315BXk3PcmGbff6akM15Dt2vTcGiKkQfuiXKdtqtwhyENdjdO10NOV6KF3i6y72YgO_2Pt4G5ZmDozMklVyRTD3XmAIi29sq9djDB2z7Jv-VTAcgUQwnu4WpefdpEQZN-9lqFi80oD1lJL3J1jBJpUkIBaQv9-joweREjK7snrgjlr8tmCu11PRh32zk_I8BB4jpdYAetUdbyzdlI6ZX/download
正在解析主机 public.boxcloud.com (public.boxcloud.com)... 107.152.25.200, 107.152.24.200
正在连接 public.boxcloud.com (public.boxcloud.com)|107.152.25.200|:443... 已连接。
已发出 HTTP 请求，正在等待回应... 200 OK
长度： 45978 (45K) [text/csv]
正在保存至: “./data/countries_metadata.csv”

./data/countries_me 100%[===================>]  44.90K  40.5KB/s    in 1.1s

2017-11-02 21:23:36 (40.5 KB/s) - 已保存 “./data/countries_metadata.csv” [45978/45978])

#### 导入 `countries_metadata.csv`

In [7]:
metadata = pd.read_csv("./data/countries_metadata.csv", encoding = "utf-8")

In [8]:
metadata.head(10)

,"﻿""Country Name""",Country Code,Region,IncomeGroup,SpecialNotes,Unnamed: 5
0,Aruba,ABW,Latin America & Caribbean,High income: nonOECD,SNA data for 2000-2011 are updated from offici...,NaN
1,Afghanistan,AFG,South Asia,Low income,Fiscal year end: March 20; reporting period fo...,NaN
2,Angola,AGO,Sub-Saharan Africa,Upper middle income,"April 2013 database update: Based on IMF data,...",NaN
3,Albania,ALB,Europe & Central Asia,Upper middle income,NaN,NaN
4,Andorra,AND,Europe & Central Asia,High income: nonOECD,NaN,NaN
5,Arab World,ARB,NaN,NaN,Arab World aggregate. Arab World is composed o...,NaN
6,United Arab Emirates,ARE,Middle East & North Africa,High income: nonOECD,April 2013 database update: Based on data from...,NaN
7,Argentina,ARG,Latin America & Caribbean,High income: nonOECD,The base year has changed to 2004.,NaN
8,Armenia,ARM,Europe & Central Asia,Lower middle income,NaN,NaN
9,American Samoa,ASM,East Asia & Pacific,Upper middle income,NaN,NaN

#### 如何标识列出的"Country Name" 是一个国家还是一个多国构成的区域?

注意，当某一行是像"Arab World"这样的聚合区域时,  `Region` 和 `IncomeGroup` 总是 NaN (Not a Number). 我们可以用这条规则来移除所有不是国家的区域.

#### 在关键字`Country Code`上合并`data` 与 `metadata`

In [8]:
merge = pd.merge(data, metadata, on = "Country Code")

In [9]:
merge.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,Unnamed: 61,Region,IncomeGroup,SpecialNotes,TableName,Unnamed: 5
0,Aruba,ABW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,8.351294,8.408363,NaN,NaN,NaN,Latin America & Caribbean,High income,SNA data for 2000-2011 are updated from offici...,Aruba,NaN
1,Afghanistan,AFG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.046060,0.053604,0.073765,0.074233,0.086292,0.101467,...,0.315602,0.299445,NaN,NaN,NaN,South Asia,Low income,Fiscal year end: March 20; reporting period fo...,Afghanistan,NaN
2,Angola,AGO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.097472,0.079038,0.201289,0.192535,0.201003,0.191528,...,1.254617,1.291328,NaN,NaN,NaN,Sub-Saharan Africa,Lower middle income,NaN,Angola,NaN
3,Albania,ALB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.258195,1.374186,1.439956,1.181681,1.111742,1.166099,...,1.749211,1.978763,NaN,NaN,NaN,Europe & Central Asia,Upper middle income,NaN,Albania,NaN
4,Andorra,AND,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,5.900753,5.832170,NaN,NaN,NaN,Europe & Central Asia,High income,WB-3 code changed from ADO to AND to align wit...,Andorra,NaN
5,Arab World,ARB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.643689,0.685151,0.760855,0.874941,0.999098,1.165705,...,4.650474,4.860234,NaN,NaN,NaN,NaN,NaN,Arab World aggregate. Arab World is composed o...,Arab World,NaN
6,United Arab Emirates,ARE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.118758,0.108837,0.163018,0.175223,0.132355,0.146327,...,18.954164,23.302023,NaN,NaN,NaN,Middle East & North Africa,High income,NaN,United Arab Emirates,NaN
7,Argentina,ARG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2.367473,2.442616,2.522392,2.316356,2.538379,2.641714,...,4.462904,4.746797,NaN,NaN,NaN,Latin America & Caribbean,Upper middle income,National Institute of Statistics and Census re...,Argentina,NaN
8,Armenia,ARM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,1.899712,1.902759,NaN,NaN,NaN,Europe & Central Asia,Lower middle income,NaN,Armenia,NaN
9,American Samoa,ASM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,East Asia & Pacific,Upper middle income,NaN,American Samoa,NaN

**注意:** 当某一行不是实际的国家时，'Region'的值就是 NaN.

#### 移除 `Region` 为 NaN 的行

In [11]:
merge = merge[pd.notnull(merge['Region'])]

In [12]:
merge.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,Unnamed: 61,Region,IncomeGroup,SpecialNotes,TableName,Unnamed: 5
0,Aruba,ABW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,8.351294,8.408363,NaN,NaN,NaN,Latin America & Caribbean,High income,SNA data for 2000-2011 are updated from offici...,Aruba,NaN
1,Afghanistan,AFG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.046060,0.053604,0.073765,0.074233,0.086292,0.101467,...,0.315602,0.299445,NaN,NaN,NaN,South Asia,Low income,Fiscal year end: March 20; reporting period fo...,Afghanistan,NaN
2,Angola,AGO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.097472,0.079038,0.201289,0.192535,0.201003,0.191528,...,1.254617,1.291328,NaN,NaN,NaN,Sub-Saharan Africa,Lower middle income,NaN,Angola,NaN
3,Albania,ALB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.258195,1.374186,1.439956,1.181681,1.111742,1.166099,...,1.749211,1.978763,NaN,NaN,NaN,Europe & Central Asia,Upper middle income,NaN,Albania,NaN
4,Andorra,AND,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,5.900753,5.832170,NaN,NaN,NaN,Europe & Central Asia,High income,WB-3 code changed from ADO to AND to align wit...,Andorra,NaN
6,United Arab Emirates,ARE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.118758,0.108837,0.163018,0.175223,0.132355,0.146327,...,18.954164,23.302023,NaN,NaN,NaN,Middle East & North Africa,High income,NaN,United Arab Emirates,NaN
7,Argentina,ARG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2.367473,2.442616,2.522392,2.316356,2.538379,2.641714,...,4.462904,4.746797,NaN,NaN,NaN,Latin America & Caribbean,Upper middle income,National Institute of Statistics and Census re...,Argentina,NaN
8,Armenia,ARM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,1.899712,1.902759,NaN,NaN,NaN,Europe & Central Asia,Lower middle income,NaN,Armenia,NaN
9,American Samoa,ASM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,East Asia & Pacific,Upper middle income,NaN,American Samoa,NaN
10,Antigua and Barbuda,ATG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.662643,0.849084,1.796794,1.446821,1.540135,2.473585,...,5.360453,5.377649,NaN,NaN,NaN,Latin America & Caribbean,High income,NaN,Antigua and Barbuda,NaN

<br>

<h2>2. 有些列是不相关的，可以被移除.</h2>

**目标:**  
移除下列不相关的列:
- 第 3 列: **"Indicator Name"**
- 第 4 列: **"Indicator Code"**

In [13]:
merge.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', 'Unnamed: 61', 'Region', 'IncomeGroup',
       'SpecialNotes', 'TableName', 'Unnamed: 5'],
      dtype='object')

In [15]:
? merge.drop

In [16]:
merge = merge.drop(merge.columns[[61,66]], axis=1) # Note: zero indexed
merge = merge.drop('Indicator Name', axis=1)
merge = merge.drop('Indicator Code', 1)

In [17]:
merge.columns

Index(['Country Name', 'Country Code', '1960', '1961', '1962', '1963', '1964',
       '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973',
       '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982',
       '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991',
       '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', 'Region',
       'IncomeGroup', 'SpecialNotes', 'TableName'],
      dtype='object')

<h2>3. 有些年份对于任何国家都没有数据.</h2>

**目标:**  
计算每一年的数据行数，NaN值不计算在内.

In [18]:
merge.count()

Country Name    217
Country Code    217
1960            151
1961            152
1962            154
1963            155
1964            161
1965            161
1966            161
1967            161
1968            161
1969            161
1970            163
1971            164
1972            166
1973            166
1974            166
1975            166
1976            166
1977            166
1978            166
1979            166
1980            166
1981            166
1982            166
1983            166
1984            166
1985            166
1986            167
1987            167
               ...
1991            174
1992            195
1993            195
1994            196
1995            197
1996            197
1997            198
1998            199
1999            199
2000            199
2001            199
2002            200
2003            200
2004            200
2005            201
2006            202
2007            203
2008            203
2009            203
2010            203
2011            203
2012            205
2013            205
2014            203
2015              0
2016              0
Region          217
IncomeGroup     217
SpecialNotes    104
TableName       217
dtype: int64

查看2015年，看起来所有行都不包含2015年的数据.

In [19]:
merge['2015']

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
15    NaN
16    NaN
17    NaN
18    NaN
19    NaN
20    NaN
21    NaN
22    NaN
23    NaN
24    NaN
25    NaN
26    NaN
27    NaN
28    NaN
29    NaN
30    NaN
       ..
225   NaN
226   NaN
229   NaN
230   NaN
231   NaN
232   NaN
234   NaN
236   NaN
239   NaN
240   NaN
241   NaN
242   NaN
243   NaN
244   NaN
245   NaN
247   NaN
248   NaN
249   NaN
250   NaN
251   NaN
252   NaN
253   NaN
254   NaN
255   NaN
257   NaN
258   NaN
259   NaN
260   NaN
261   NaN
262   NaN
Name: 2015, dtype: float64

#### 移除任何行都不包含数据的列

In [20]:
merge = merge.drop(['2015', '2016'], 1)

In [21]:
merge.count() #double-check that columns have been removed

Country Name    217
Country Code    217
1960            151
1961            152
1962            154
1963            155
1964            161
1965            161
1966            161
1967            161
1968            161
1969            161
1970            163
1971            164
1972            166
1973            166
1974            166
1975            166
1976            166
1977            166
1978            166
1979            166
1980            166
1981            166
1982            166
1983            166
1984            166
1985            166
1986            167
1987            167
               ...
1989            167
1990            173
1991            174
1992            195
1993            195
1994            196
1995            197
1996            197
1997            198
1998            199
1999            199
2000            199
2001            199
2002            200
2003            200
2004            200
2005            201
2006            202
2007            203
2008            203
2009            203
2010            203
2011            203
2012            205
2013            205
2014            203
Region          217
IncomeGroup     217
SpecialNotes    104
TableName       217
dtype: int64

<h2>4. 有些国家在任何年份都没有数据.</h2>

**目标:**  
使用行平均值来确定哪些国家不包含任何数据.

计算每一行的平均值(在 axis 1 上).

In [22]:
merge.mean(axis=1) #Takes the mean of all numeric quantities by row

0      20.486262
1       0.147484
2       0.600522
3       1.656215
4       6.888830
6      30.452819
7       3.633115
8       1.344459
9            NaN
10      4.824503
11     14.533135
12      7.198942
13      4.184062
14      0.030754
15     11.215788
16      0.209032
17      0.067407
18      0.194050
19      7.106923
20     20.284362
21     12.631206
22      3.971538
23      6.283099
24      1.345642
25      7.538987
26      0.945658
27      1.474204
28      3.231488
29     21.024915
30      0.390093
         ...
225     4.328909
226     0.033163
229     0.212351
230     1.816982
231     0.453896
232     9.590787
234     0.220787
236     0.654379
239    16.614263
240     1.531793
241     2.423008
242     0.894346
243     0.119932
244     0.075384
245     7.206894
247     1.769533
248    19.134419
249     4.521001
250     0.938539
251     5.951815
252     3.803970
253          NaN
254     0.645479
255     0.515255
257     0.613257
258          NaN
259     0.719367
260     8.132758
261     0.484002
262     1.211731
dtype: float64

正如你所见，在不包含任何数据的行中出现了 NaN.

#### 移除所有年份中不包含任何数据的行

In [23]:
merge = merge[pd.notnull(merge.mean(axis=1))]

<hr>

<h2, align = "center">数据清洗 ... 完成!</h2>

### 为了方便起见，重新命名

In [25]:
mydf = merge
mydf

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2009,2010,2011,2012,2013,2014,Region,IncomeGroup,SpecialNotes,TableName
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25.915833,24.670529,24.505835,13.155542,8.351294,8.408363,Latin America & Caribbean,High income,SNA data for 2000-2011 are updated from offici...,Aruba
1,Afghanistan,AFG,0.046060,0.053604,0.073765,0.074233,0.086292,0.101467,0.107637,0.123734,...,0.241723,0.293837,0.412017,0.350371,0.315602,0.299445,South Asia,Low income,Fiscal year end: March 20; reporting period fo...,Afghanistan
2,Angola,AGO,0.097472,0.079038,0.201289,0.192535,0.201003,0.191528,0.246413,0.154912,...,1.232495,1.243406,1.252789,1.330843,1.254617,1.291328,Sub-Saharan Africa,Lower middle income,NaN,Angola
3,Albania,ALB,1.258195,1.374186,1.439956,1.181681,1.111742,1.166099,1.333055,1.363746,...,1.495600,1.578574,1.803715,1.692908,1.749211,1.978763,Europe & Central Asia,Upper middle income,NaN,Albania
4,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.121652,6.122595,5.867130,5.916597,5.900753,5.832170,Europe & Central Asia,High income,WB-3 code changed from ADO to AND to align wit...,Andorra
6,United Arab Emirates,ARE,0.118758,0.108837,0.163018,0.175223,0.132355,0.146327,0.159950,5.383685,...,21.908556,19.443690,19.076489,19.817684,18.954164,23.302023,Middle East & North Africa,High income,NaN,United Arab Emirates
7,Argentina,ARG,2.367473,2.442616,2.522392,2.316356,2.538379,2.641714,2.792654,2.858162,...,4.410890,4.558500,4.600291,4.569384,4.462904,4.746797,Latin America & Caribbean,Upper middle income,National Institute of Statistics and Census re...,Argentina
8,Armenia,ARM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.509412,1.465622,1.710071,1.976060,1.899712,1.902759,Europe & Central Asia,Lower middle income,NaN,Armenia
10,Antigua and Barbuda,ATG,0.662643,0.849084,1.796794,1.446821,1.540135,2.473585,5.613448,8.912847,...,5.446757,5.539568,5.363407,5.418447,5.360453,5.377649,Latin America & Caribbean,High income,NaN,Antigua and Barbuda
11,Australia,AUS,8.582937,8.641569,8.835688,9.226440,9.759073,10.622321,10.328092,10.955625,...,18.200182,17.740845,17.538878,17.076819,16.103336,15.398600,East Asia & Pacific,High income,Fiscal year end: June 30; reporting period for...,Australia
12,Austria,AUT,4.373319,4.496362,4.755362,5.155194,5.391004,5.252197,5.361725,5.417737,...,7.518751,8.071132,7.748134,7.387077,7.369137,6.873713,Europe & Central Asia,High income,A simple multiplier is used to convert the nat...,Austria
13,Azerbaijan,AZE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.565668,3.388226,3.646180,3.824877,3.785069,3.931561,Europe & Central Asia,Upper middle income,NaN,Azerbaijan
14,Burundi,BDI,NaN,NaN,0.015207,0.016160,0.015833,0.011914,0.015121,0.014740,...,0.022462,0.024260,0.026762,0.030297,0.030176,0.044485,Sub-Saharan Africa,Low income,NaN,Burundi
15,Belgium,BEL,9.941594,10.103872,10.641190,11.386929,11.053655,11.141656,11.042019,11.217257,...,9.249616,10.171465,9.046561,8.546478,8.671352,8.328160,Europe & Central Asia,High income,A simple multiplier is used to convert the nat...,Belgium
16,Benin,BEN,0.066354,0.052049,0.054209,0.047589,0.055304,0.057115,0.042383,0.052284,...,0.521063,0.553283,0.559693,0.562347,0.580961,0.614214,Sub-Saharan Africa,Low income,NaN,Benin
17,Burkina Faso,BFA,0.009112,0.018730,0.017003,0.017504,0.021575,0.019841,0.019534,0.019217,...,0.127633,0.125717,0.137496,0.158663,0.179132,0.162019,Sub-Saharan Africa,Low income,NaN,Burkina Faso
18,Bangladesh,BGD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.357159,0.393937,0.412011,0.433488,0.442401,0.459142,South Asia,Lower middle income,Fiscal year end: June 30; reporting period for...,Bangladesh
19,Bulgaria,BGR,2.833901,3.269920,3.835892,4.259781,5.262988,5.645652,5.905437,6.638369,...,5.731194,5.964900,6.715381,6.119457,5.450696,5.871616,Europe & Central Asia,Upper middle income,The new reference year for chain linked series...,Bulgaria
20,Bahrain,BHR,3.544478,10.549281,9.191644,6.710688,8.742076,6.554119,3.384394,5.124669,...,23.811708,23.585481,22.413335,20.514851,23.804357,23.449755,Middle East & North Africa,High income,NaN,Bahrain
21,"Bahamas, The",BHS,3.749763,4.746699,5.996432,5.558111,8.118536,9.399610,7.465983,11.173358,...,4.629529,4.583343,5.091833,5.292937,7.426540,6.323258,Latin America & Caribbean,High income,NaN,"Bahamas, The"
22,Bosnia and Herzegovina,BIH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.526103,5.716135,6.475390,6.101280,6.080813,6.234719,Europe & Central Asia,Upper middle income,NaN,Bosnia and Herzegovina
23,Belarus,BLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.439684,6.642697,6.762517,6.679992,6.736652,6.701958,Europe & Central Asia,Upper middle income,In July 2016 a new Belarusian ruble was introd...,Belarus
24,Belize,BLZ,0.477972,0.387211,0.715446,0.622369,0.818296,0.794778,0.737780,1.073821,...,1.868958,1.676106,1.826861,1.415826,1.491599,1.407601,Latin America & Caribbean,Upper middle income,NaN,Belize
25,Bermuda,BMU,3.551374,3.868484,3.383712,3.151929,4.124438,3.586487,3.954608,4.090115,...,7.262935,9.347122,6.872359,7.356863,7.051815,8.838315,North America,High income,NaN,Bermuda
26,Bolivia,BOL,0.272038,0.276621,0.286626,0.310160,0.371216,0.371151,0.407085,0.446570,...,1.433545,1.532871,1.602029,1.835469,1.818997,1.932419,Latin America & Caribbean,Lower middle income,NaN,Bolivia
27,Brazil,BRA,0.649631,0.661771,0.701236,0.705321,0.698987,0.675447,0.749140,0.750561,...,1.883812,2.132938,2.211587,2.343570,2.488417,2.594388,Latin America & Caribbean,Upper middle income,NaN,Brazil
28,Barbados,BRB,0.746297,0.838884,1.119401,0.816330,0.766085,0.872450,1.134072,1.425757,...,5.807258,5.285997,5.449514,5.222107,5.127146,4.490178,Latin America & Caribbean,High income,NaN,Barbados
29,Brunei Darussalam,BRN,4.082170,3.555785,4.137439,3.801178,3.485314,3.257964,4.578795,3.911675,...,20.486247,21.105946,24.607178,24.180764,19.233592,22.124701,East Asia & Pacific,High income,National accounts revision is based on data fr...,Brunei Darussalam
30,Bhutan,BTN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.544052,0.670263,0.990399,1.086025,1.203221,1.289321,South Asia,Lower middle income,NaN,Bhutan
31,Botswana,BWA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.900286,2.325924,2.036091,2.025409,2.456718,3.243288,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,Botswana
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,Seychelles,SYC,NaN,NaN,NaN,0.162343,0.158326,0.154400,0.150599,0.146942,...,6.006793,4.942709,3.900127,4.983296,4.484430,5.418678,Sub-Saharan Africa,High income,NaN,Seychelles
224,Syrian Arab Republic,SYR,0.704774,0.649233,0.657370,0.717428,0.839830,0.684517,0.885509,0.802935,...,2.993133,2.930971,2.727578,2.190428,1.839503,1.598898,Middle East & North Africa,Lower middle income,NaN,Syrian Arab Republic
225,Turks and Caicos Islands,TCA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.940916,6.152288,6.009391,6.105825,5.980971,6.086487,Latin America & Caribbean,High income,NaN,Turks and Caicos Islands
226,Chad,TCD,0.018325,0.016775,0.027022,0.028796,0.030497,0.032132,0.025011,0.034163,...,0.042718,0.043496,0.043866,0.048200,0.053329,0.053778,Sub-Saharan Africa,Low income,NaN,Chad
229,Togo,TGO,0.041762,0.057386,0.054570,0.065171,0.079426,0.077262,0.101285,0.106723,...,0.439660,0.406006,0.368935,0.362451,0.377480,0.362697,Sub-Saharan Africa,Low income,NaN,Togo
230,Thailand,THA,0.135586,0.146944,0.173130,0.185877,0.242240,0.234151,0.289096,0.360203,...,4.001129,4.194782,4.121389,4.371765,4.403808,4.621860,East Asia & Pacific,Upper middle income,Fiscal year end: September 30; reporting perio...,Thailand
231,Tajikistan,TJK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.328286,0.333031,0.300737,0.366926,0.425540,0.620467,Europe & Central Asia,Lower middle income,NaN,Tajikistan
232,Turkmenistan,TKM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.052132,11.261485,12.073175,12.314897,12.436133,12.517295,Europe & Central Asia,Upper middle income,NaN,Turkmenistan
234,Timor-Leste,TLS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.208196,0.211509,0.217131,0.253605,0.371541,0.387014,East Asia & Pacific,Lower middle income,WB-3 code changed from TMP to TLS to align wit...,Timor-Leste
236,Tonga,TON,0.178585,0.172578,0.166030,0.159423,0.153309,0.147938,0.143281,0.185549,...,1.274198,1.126823,0.981822,1.013263,1.079267,1.143966,East Asia & Pacific,Upper middle income,NaN,Tonga
239,Trinidad and Tobago,TTO,3.042583,5.318116,8.225533,1.466687,4.201760,5.694917,4.408837,5.009947,...,33.969786,36.092933,35.162088,33.855000,34.520032,34.163243,Latin America & Caribbean,High income,NaN,Trinidad and Tobago
240,Tunisia,TUN,0.413565,0.417262,0.417563,0.444801,0.618485,0.542143,0.622199,0.651722,...,2.355950,2.599658,2.417982,2.480446,2.511904,2.587060,Middle East & North Africa,Lower middle income,NaN,Tunisia
241,Turkey,TUR,0.612272,0.616880,0.750244,0.767638,0.870791,0.884282,0.994631,1.032199,...,3.894703,4.120215,4.370561,4.419488,4.285301,4.491479,Europe & Central Asia,Upper middle income,NaN,Turkey
242,Tuvalu,TUV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.053635,0.696420,0.690064,1.025734,1.016822,1.008526,East Asia & Pacific,Upper middle income,Value added is measured at producer prices up ...,Tuvalu
243,Tanzania,TZA,0.082261,0.067872,0.071734,0.072967,0.091197,0.099494,0.113919,0.141879,...,0.132512,0.154162,0.170126,0.194471,0.220730,0.221347,Sub-Saharan Africa,Low income,Tanzania reports using a blend of SNA 1993 and...,Tanzania
244,Uganda,UGA,0.062123,0.058093,0.059258,0.057791,0.063435,0.078241,0.088438,0.094446,...,0.103167,0.115583,0.121524,0.112110,0.129675,0.134656,Sub-Saharan Africa,Low income,Fiscal year end: June 30; reporting period for...,Uganda
245,Ukraine,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.647810,6.641350,6.265962,6.487603,5.976642,5.020747,Europe & Central Asia,Lower middle income,The new base year is 2010.,Ukraine
247,Uruguay,URY,1.701583,1.602724,1.540657,1.639284,1.710099,2.049518,1.985091,1.776101,...,2.396864,1.893043,2.292942,2.559620,2.226236,1.973151,Latin America & Caribbean,High income,NaN,Uruguay
248,United States,USA,15.999779,15.681256,16.013937,16.482762,16.968119,17.451725,18.121073,18.598318,...,17.157738,17.441615,16.972417,16.304022,16.315879,16.493666,North America,High income,Fiscal year end: September 30; reporting perio...,United States
249,Uzbekistan,UZB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.858172,3.647049,3.874801,3.889733,3.417442,3.420723,Europe & Central Asia,Lower middle income,NaN,Uzbekistan
250,St. Vincent and the Grenadines,VCT,0.135900,0.133927,0.132214,0.174273,0.215531,0.170618,0.211094,0.208979,...,2.852965,2.012716,1.811013,2.314348,1.911992,1.911345,Latin America & Caribbean,Upper middle income,NaN,St. Vincent and the Grenadines
251,"Venezuela, RB",VEN,7.005105,6.136885,6.155058,6.155746,5.973228,6.187253,5.604757,6.251423,...,6.289128,6.513377,6.001459,6.649233,6.066461,6.025698,Latin America & Caribbean,Upper middle income,NaN,"Venezuela, RB"
252,British Virgin Islands,VGB,NaN,NaN,0.441914,0.433862,0.850122,0.832085,1.221383,0.397809,...,6.239460,6.330774,6.308591,6.174050,6.057819,6.072834,Latin America & Caribbean,High income,NaN,British Virgin Islands
254,Vietnam,VNM,0.215631,0.225435,0.258760,0.247579,0.314058,0.343354,0.490532,0.574906,...,1.495318,1.641940,1.731948,1.601421,1.640273,1.839666,East Asia & Pacific,Lower middle income,NaN,Vietnam
255,Vanuatu,VUT,NaN,NaN,0.594871,0.471714,0.864247,0.641697,1.007774,1.074107,...,0.524345,0.512118,0.545795,0.459329,0.420092,0.594993,East Asia & Pacific,Lower middle income,"Based on official government statistics, value...",Vanuatu
257,Samoa,WSM,0.135007,0.163532,0.158350,0.184023,0.208092,0.230869,0.196414,0.191284,...,1.011854,1.004361,1.074708,1.046640,1.038064,1.029788,East Asia & Pacific,Upper middle income,Fiscal year ends on June 30; reporting period ...,Samoa
259,"Yemen, Rep.",YEM,0.702611,0.506779,0.726302,0.535971,0.655561,0.696540,0.602812,0.521386,...,1.069059,0.992602,0.810900,0.749447,0.996885,0.864835,Middle East & North Africa,Lower middle income,Based on official government statistics and In...,"Yemen, Rep."
260,South Africa,ZAF,5.629599,5.726258,5.772587,5.838756,6.197268,6.473251,6.315107,6.423298,...,10.011029,9.299811,9.097011,8.927862,8.748064,9.045270,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,South Africa
261,Zambia,ZMB,NaN,NaN,NaN,NaN,0.949422,1.099048,0.952613,1.263954,...,0.186396,0.194337,0.205911,0.249457,0.261113,0.288271,Sub-Saharan Africa,Lower middle income,The base year is 2010. National accounts data ...,Zambia
262,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,1.047748,1.182364,1.327983,1.127398,...,0.405716,0.552146,0.664751,0.529703,0.775564,0.779956,Sub-Saharan Africa,Low income,Fiscal year end: June 30; reporting period for...,Zimbabwe

<hr>

代码汇总:

In [26]:
import pandas as pd

#Download data
#!wget --output-document co2emissions.csv https://ibm.box.com/shared/static/3yzxbbizo49bkl8cnjw15tymzfwkycj4.csv
#!wget --output-document countries_metadata.csv https://ibm.box.com/shared/static/qh3o86mpij17ot7anydcmbwt41lwxvln.csv
    
#Import data
data = pd.read_csv("resources/data/co2emissions.csv", skiprows = 4)
metadata = pd.read_csv("resources/data/countries_metadata.csv", encoding = "utf-8")

#Merge data
merge = pd.merge(data, metadata, on = "Country Code")

#Remove non-country regions
merge = merge[pd.notnull(merge['Region'])]

#Drop some columns with no data
merge = merge.drop(merge.columns[[61,66]], axis=1)
merge = merge.drop(['Indicator Name', 'Indicator Code','2015', '2016'], 1)

#Drop some rows with no data
merge = merge[pd.notnull(merge.mean(axis=1))]

#Rename
mydf = merge

In [27]:
mydf

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2009,2010,2011,2012,2013,2014,Region,IncomeGroup,SpecialNotes,TableName
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25.915833,24.670529,24.505835,13.155542,8.351294,8.408363,Latin America & Caribbean,High income,SNA data for 2000-2011 are updated from offici...,Aruba
1,Afghanistan,AFG,0.046060,0.053604,0.073765,0.074233,0.086292,0.101467,0.107637,0.123734,...,0.241723,0.293837,0.412017,0.350371,0.315602,0.299445,South Asia,Low income,Fiscal year end: March 20; reporting period fo...,Afghanistan
2,Angola,AGO,0.097472,0.079038,0.201289,0.192535,0.201003,0.191528,0.246413,0.154912,...,1.232495,1.243406,1.252789,1.330843,1.254617,1.291328,Sub-Saharan Africa,Lower middle income,NaN,Angola
3,Albania,ALB,1.258195,1.374186,1.439956,1.181681,1.111742,1.166099,1.333055,1.363746,...,1.495600,1.578574,1.803715,1.692908,1.749211,1.978763,Europe & Central Asia,Upper middle income,NaN,Albania
4,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.121652,6.122595,5.867130,5.916597,5.900753,5.832170,Europe & Central Asia,High income,WB-3 code changed from ADO to AND to align wit...,Andorra
6,United Arab Emirates,ARE,0.118758,0.108837,0.163018,0.175223,0.132355,0.146327,0.159950,5.383685,...,21.908556,19.443690,19.076489,19.817684,18.954164,23.302023,Middle East & North Africa,High income,NaN,United Arab Emirates
7,Argentina,ARG,2.367473,2.442616,2.522392,2.316356,2.538379,2.641714,2.792654,2.858162,...,4.410890,4.558500,4.600291,4.569384,4.462904,4.746797,Latin America & Caribbean,Upper middle income,National Institute of Statistics and Census re...,Argentina
8,Armenia,ARM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.509412,1.465622,1.710071,1.976060,1.899712,1.902759,Europe & Central Asia,Lower middle income,NaN,Armenia
10,Antigua and Barbuda,ATG,0.662643,0.849084,1.796794,1.446821,1.540135,2.473585,5.613448,8.912847,...,5.446757,5.539568,5.363407,5.418447,5.360453,5.377649,Latin America & Caribbean,High income,NaN,Antigua and Barbuda
11,Australia,AUS,8.582937,8.641569,8.835688,9.226440,9.759073,10.622321,10.328092,10.955625,...,18.200182,17.740845,17.538878,17.076819,16.103336,15.398600,East Asia & Pacific,High income,Fiscal year end: June 30; reporting period for...,Australia
12,Austria,AUT,4.373319,4.496362,4.755362,5.155194,5.391004,5.252197,5.361725,5.417737,...,7.518751,8.071132,7.748134,7.387077,7.369137,6.873713,Europe & Central Asia,High income,A simple multiplier is used to convert the nat...,Austria
13,Azerbaijan,AZE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.565668,3.388226,3.646180,3.824877,3.785069,3.931561,Europe & Central Asia,Upper middle income,NaN,Azerbaijan
14,Burundi,BDI,NaN,NaN,0.015207,0.016160,0.015833,0.011914,0.015121,0.014740,...,0.022462,0.024260,0.026762,0.030297,0.030176,0.044485,Sub-Saharan Africa,Low income,NaN,Burundi
15,Belgium,BEL,9.941594,10.103872,10.641190,11.386929,11.053655,11.141656,11.042019,11.217257,...,9.249616,10.171465,9.046561,8.546478,8.671352,8.328160,Europe & Central Asia,High income,A simple multiplier is used to convert the nat...,Belgium
16,Benin,BEN,0.066354,0.052049,0.054209,0.047589,0.055304,0.057115,0.042383,0.052284,...,0.521063,0.553283,0.559693,0.562347,0.580961,0.614214,Sub-Saharan Africa,Low income,NaN,Benin
17,Burkina Faso,BFA,0.009112,0.018730,0.017003,0.017504,0.021575,0.019841,0.019534,0.019217,...,0.127633,0.125717,0.137496,0.158663,0.179132,0.162019,Sub-Saharan Africa,Low income,NaN,Burkina Faso
18,Bangladesh,BGD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.357159,0.393937,0.412011,0.433488,0.442401,0.459142,South Asia,Lower middle income,Fiscal year end: June 30; reporting period for...,Bangladesh
19,Bulgaria,BGR,2.833901,3.269920,3.835892,4.259781,5.262988,5.645652,5.905437,6.638369,...,5.731194,5.964900,6.715381,6.119457,5.450696,5.871616,Europe & Central Asia,Upper middle income,The new reference year for chain linked series...,Bulgaria
20,Bahrain,BHR,3.544478,10.549281,9.191644,6.710688,8.742076,6.554119,3.384394,5.124669,...,23.811708,23.585481,22.413335,20.514851,23.804357,23.449755,Middle East & North Africa,High income,NaN,Bahrain
21,"Bahamas, The",BHS,3.749763,4.746699,5.996432,5.558111,8.118536,9.399610,7.465983,11.173358,...,4.629529,4.583343,5.091833,5.292937,7.426540,6.323258,Latin America & Caribbean,High income,NaN,"Bahamas, The"
22,Bosnia and Herzegovina,BIH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.526103,5.716135,6.475390,6.101280,6.080813,6.234719,Europe & Central Asia,Upper middle income,NaN,Bosnia and Herzegovina
23,Belarus,BLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.439684,6.642697,6.762517,6.679992,6.736652,6.701958,Europe & Central Asia,Upper middle income,In July 2016 a new Belarusian ruble was introd...,Belarus
24,Belize,BLZ,0.477972,0.387211,0.715446,0.622369,0.818296,0.794778,0.737780,1.073821,...,1.868958,1.676106,1.826861,1.415826,1.491599,1.407601,Latin America & Caribbean,Upper middle income,NaN,Belize
25,Bermuda,BMU,3.551374,3.868484,3.383712,3.151929,4.124438,3.586487,3.954608,4.090115,...,7.262935,9.347122,6.872359,7.356863,7.051815,8.838315,North America,High income,NaN,Bermuda
26,Bolivia,BOL,0.272038,0.276621,0.286626,0.310160,0.371216,0.371151,0.407085,0.446570,...,1.433545,1.532871,1.602029,1.835469,1.818997,1.932419,Latin America & Caribbean,Lower middle income,NaN,Bolivia
27,Brazil,BRA,0.649631,0.661771,0.701236,0.705321,0.698987,0.675447,0.749140,0.750561,...,1.883812,2.132938,2.211587,2.343570,2.488417,2.594388,Latin America & Caribbean,Upper middle income,NaN,Brazil
28,Barbados,BRB,0.746297,0.838884,1.119401,0.816330,0.766085,0.872450,1.134072,1.425757,...,5.807258,5.285997,5.449514,5.222107,5.127146,4.490178,Latin America & Caribbean,High income,NaN,Barbados
29,Brunei Darussalam,BRN,4.082170,3.555785,4.137439,3.801178,3.485314,3.257964,4.578795,3.911675,...,20.486247,21.105946,24.607178,24.180764,19.233592,22.124701,East Asia & Pacific,High income,National accounts revision is based on data fr...,Brunei Darussalam
30,Bhutan,BTN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.544052,0.670263,0.990399,1.086025,1.203221,1.289321,South Asia,Lower middle income,NaN,Bhutan
31,Botswana,BWA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.900286,2.325924,2.036091,2.025409,2.456718,3.243288,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,Botswana
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,Seychelles,SYC,NaN,NaN,NaN,0.162343,0.158326,0.154400,0.150599,0.146942,...,6.006793,4.942709,3.900127,4.983296,4.484430,5.418678,Sub-Saharan Africa,High income,NaN,Seychelles
224,Syrian Arab Republic,SYR,0.704774,0.649233,0.657370,0.717428,0.839830,0.684517,0.885509,0.802935,...,2.993133,2.930971,2.727578,2.190428,1.839503,1.598898,Middle East & North Africa,Lower middle income,NaN,Syrian Arab Republic
225,Turks and Caicos Islands,TCA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.940916,6.152288,6.009391,6.105825,5.980971,6.086487,Latin America & Caribbean,High income,NaN,Turks and Caicos Islands
226,Chad,TCD,0.018325,0.016775,0.027022,0.028796,0.030497,0.032132,0.025011,0.034163,...,0.042718,0.043496,0.043866,0.048200,0.053329,0.053778,Sub-Saharan Africa,Low income,NaN,Chad
229,Togo,TGO,0.041762,0.057386,0.054570,0.065171,0.079426,0.077262,0.101285,0.106723,...,0.439660,0.406006,0.368935,0.362451,0.377480,0.362697,Sub-Saharan Africa,Low income,NaN,Togo
230,Thailand,THA,0.135586,0.146944,0.173130,0.185877,0.242240,0.234151,0.289096,0.360203,...,4.001129,4.194782,4.121389,4.371765,4.403808,4.621860,East Asia & Pacific,Upper middle income,Fiscal year end: September 30; reporting perio...,Thailand
231,Tajikistan,TJK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.328286,0.333031,0.300737,0.366926,0.425540,0.620467,Europe & Central Asia,Lower middle income,NaN,Tajikistan
232,Turkmenistan,TKM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.052132,11.261485,12.073175,12.314897,12.436133,12.517295,Europe & Central Asia,Upper middle income,NaN,Turkmenistan
234,Timor-Leste,TLS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.208196,0.211509,0.217131,0.253605,0.371541,0.387014,East Asia & Pacific,Lower middle income,WB-3 code changed from TMP to TLS to align wit...,Timor-Leste
236,Tonga,TON,0.178585,0.172578,0.166030,0.159423,0.153309,0.147938,0.143281,0.185549,...,1.274198,1.126823,0.981822,1.013263,1.079267,1.143966,East Asia & Pacific,Upper middle income,NaN,Tonga
239,Trinidad and Tobago,TTO,3.042583,5.318116,8.225533,1.466687,4.201760,5.694917,4.408837,5.009947,...,33.969786,36.092933,35.162088,33.855000,34.520032,34.163243,Latin America & Caribbean,High income,NaN,Trinidad and Tobago
240,Tunisia,TUN,0.413565,0.417262,0.417563,0.444801,0.618485,0.542143,0.622199,0.651722,...,2.355950,2.599658,2.417982,2.480446,2.511904,2.587060,Middle East & North Africa,Lower middle income,NaN,Tunisia
241,Turkey,TUR,0.612272,0.616880,0.750244,0.767638,0.870791,0.884282,0.994631,1.032199,...,3.894703,4.120215,4.370561,4.419488,4.285301,4.491479,Europe & Central Asia,Upper middle income,NaN,Turkey
242,Tuvalu,TUV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.053635,0.696420,0.690064,1.025734,1.016822,1.008526,East Asia & Pacific,Upper middle income,Value added is measured at producer prices up ...,Tuvalu
243,Tanzania,TZA,0.082261,0.067872,0.071734,0.072967,0.091197,0.099494,0.113919,0.141879,...,0.132512,0.154162,0.170126,0.194471,0.220730,0.221347,Sub-Saharan Africa,Low income,Tanzania reports using a blend of SNA 1993 and...,Tanzania
244,Uganda,UGA,0.062123,0.058093,0.059258,0.057791,0.063435,0.078241,0.088438,0.094446,...,0.103167,0.115583,0.121524,0.112110,0.129675,0.134656,Sub-Saharan Africa,Low income,Fiscal year end: June 30; reporting period for...,Uganda
245,Ukraine,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.647810,6.641350,6.265962,6.487603,5.976642,5.020747,Europe & Central Asia,Lower middle income,The new base year is 2010.,Ukraine
247,Uruguay,URY,1.701583,1.602724,1.540657,1.639284,1.710099,2.049518,1.985091,1.776101,...,2.396864,1.893043,2.292942,2.559620,2.226236,1.973151,Latin America & Caribbean,High income,NaN,Uruguay
248,United States,USA,15.999779,15.681256,16.013937,16.482762,16.968119,17.451725,18.121073,18.598318,...,17.157738,17.441615,16.972417,16.304022,16.315879,16.493666,North America,High income,Fiscal year end: September 30; reporting perio...,United States
249,Uzbekistan,UZB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.858172,3.647049,3.874801,3.889733,3.417442,3.420723,Europe & Central Asia,Lower middle income,NaN,Uzbekistan
250,St. Vincent and the Grenadines,VCT,0.135900,0.133927,0.132214,0.174273,0.215531,0.170618,0.211094,0.208979,...,2.852965,2.012716,1.811013,2.314348,1.911992,1.911345,Latin America & Caribbean,Upper middle income,NaN,St. Vincent and the Grenadines
251,"Venezuela, RB",VEN,7.005105,6.136885,6.155058,6.155746,5.973228,6.187253,5.604757,6.251423,...,6.289128,6.513377,6.001459,6.649233,6.066461,6.025698,Latin America & Caribbean,Upper middle income,NaN,"Venezuela, RB"
252,British Virgin Islands,VGB,NaN,NaN,0.441914,0.433862,0.850122,0.832085,1.221383,0.397809,...,6.239460,6.330774,6.308591,6.174050,6.057819,6.072834,Latin America & Caribbean,High income,NaN,British Virgin Islands
254,Vietnam,VNM,0.215631,0.225435,0.258760,0.247579,0.314058,0.343354,0.490532,0.574906,...,1.495318,1.641940,1.731948,1.601421,1.640273,1.839666,East Asia & Pacific,Lower middle income,NaN,Vietnam
255,Vanuatu,VUT,NaN,NaN,0.594871,0.471714,0.864247,0.641697,1.007774,1.074107,...,0.524345,0.512118,0.545795,0.459329,0.420092,0.594993,East Asia & Pacific,Lower middle income,"Based on official government statistics, value...",Vanuatu
257,Samoa,WSM,0.135007,0.163532,0.158350,0.184023,0.208092,0.230869,0.196414,0.191284,...,1.011854,1.004361,1.074708,1.046640,1.038064,1.029788,East Asia & Pacific,Upper middle income,Fiscal year ends on June 30; reporting period ...,Samoa
259,"Yemen, Rep.",YEM,0.702611,0.506779,0.726302,0.535971,0.655561,0.696540,0.602812,0.521386,...,1.069059,0.992602,0.810900,0.749447,0.996885,0.864835,Middle East & North Africa,Lower middle income,Based on official government statistics and In...,"Yemen, Rep."
260,South Africa,ZAF,5.629599,5.726258,5.772587,5.838756,6.197268,6.473251,6.315107,6.423298,...,10.011029,9.299811,9.097011,8.927862,8.748064,9.045270,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,South Africa
261,Zambia,ZMB,NaN,NaN,NaN,NaN,0.949422,1.099048,0.952613,1.263954,...,0.186396,0.194337,0.205911,0.249457,0.261113,0.288271,Sub-Saharan Africa,Lower middle income,The base year is 2010. National accounts data ...,Zambia
262,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,1.047748,1.182364,1.327983,1.127398,...,0.405716,0.552146,0.664751,0.529703,0.775564,0.779956,Sub-Saharan Africa,Low income,Fiscal year end: June 30; reporting period for...,Zimbabwe

想要导出为 csv 文件?

In [28]:
mydf.to_csv("resources/data/co2emissions_cleaned.csv", index = False) #See Recent Data for exported csv

<hr></hr>
<div class="alert alert-success alertsuccess" style="margin-top: 0px">
<h4> [tip] 数据清洗的规则来源于对业务的理解 </h4>
<p></p>
从上面的清洗过程我们可以看到，无论是如何区分国家和地区，还是剔除不包含数据的国家，都需要明确的清洗规则，而清洗规则是依靠我们对业务的理解而确定的，单纯从数据本身出发，是无法制定出这样的规则的。
<li>这再次说明，数据分析是业务驱动的，并且需要业务模型的支持。</li>
<li>计算机能够帮助我们的，是依靠强大的计算能力来加速数据分析的过程。</li>
<p></p>
</div>
<hr></hr>